body {
    font-family: sans-serif;
}


.header {
    background-color: rosybrown;
    color: white;
    height: 90px;
}

.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
}

.header-list li {
    float: right;
    padding: 33px 20px;
}